body {
    font-size: 15pt;
  margin: 0;
  padding: 0;
  background-image: url(Rei.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.main {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  width: 80%;
  backdrop-filter: blur(15px) brightness(80%);
  padding: 1rem;
  border-radius: 1rem;
  box-sizing: border-box;
}

.header-text {
  margin: 0 0 1rem 0;
  color: white;
}

.input-bar {
  color: white;
  background: transparent;
  border: 2px solid white;
  padding: 0.4rem;
  border-radius: 1rem;
}

.generate-button {
  color: black;
  background-color: white;
  border: none;
  border-radius: 1rem;
  padding: 0.3rem;
  margin-left: 10px;
}

.container-text {
  margin: 1rem 0;
  width: 100%;
  height: 450px;
  border: 2px solid white;
  overflow: scroll;
  border-radius: 1rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

.container-text::-webkit-scrollbar {
  display: none;
}

.container-text {
  scrollbar-width: none;
}

.copy-text {
  margin: 0;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 25px;
  box-sizing: border-box;
}

.footer {
  font-size: 1rem;
  font-style: italic;
  margin: 1rem 0 0 0;
  padding: 0;
  font-weight: lighter;
  text-align: center;
}